# Hybrid Recommender System

# Dataset and Story

MovieLens, a movie recommendation service, provided the dataset. It contains the rating scores for these movies along with the movies.

It contains 2,000,0263 ratings across 27,278 movies. This data was created by 138,493 users between 09 January 1995 and 31 March 2015. This data set was created on October 17, 2016. Users are randomly selected. It is known that all selected users voted for at least 20 movies.

**Variables of the data set:**

**movie.csv**
- movieId – Unique movie number. (UniqueID) 
- title – Movie name

**rating.csv**
* userid – Unique user number. (UniqueID) 
* movieId – Unique movie number. (UniqueID) 
* rating – The rating given to the movie by the user
* timestamp – Evaluation date

# Load Dataset

In [63]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-movies-dataset/ratings.csv
/kaggle/input/the-movies-dataset/links_small.csv
/kaggle/input/the-movies-dataset/credits.csv
/kaggle/input/the-movies-dataset/keywords.csv
/kaggle/input/the-movies-dataset/movies_metadata.csv
/kaggle/input/the-movies-dataset/ratings_small.csv
/kaggle/input/the-movies-dataset/links.csv
/kaggle/input/movielens-20m-dataset/rating.csv
/kaggle/input/movielens-20m-dataset/link.csv
/kaggle/input/movielens-20m-dataset/genome_tags.csv
/kaggle/input/movielens-20m-dataset/genome_scores.csv
/kaggle/input/movielens-20m-dataset/tag.csv
/kaggle/input/movielens-20m-dataset/movie.csv

In [64]:
descriptions = pd.read_csv("/kaggle/input/the-movies-dataset/movies_metadata.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
import pandas as pd
pd.set_option('display.max_columns', 20)
movie = pd.read_csv("/kaggle/input/movielens-20m-dataset/movie.csv")
rating = pd.read_csv("/kaggle/input/movielens-20m-dataset/rating.csv")

In [72]:
descriptions

,title,overview
0,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...
45461,Subdue,Rising and falling between a man and woman.
45462,Century of Birthing,An artist struggles to finish his work while a...
45463,Betrayal,"When one of her hits goes wrong, a professiona..."
45464,Satan Triumphant,"In a small town live two brothers, one a minis..."
45465,Queerama,50 years after decriminalisation of homosexual...

In [71]:
movie

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [66]:
df.shape

(13684693, 7)

In [67]:
import re

new_titles = []
for title in movie['title'].to_list():
    try:
        new_titles.append(re.search(".* \(", title)[0][:-2])
    except:
        new_titles.append(title)

In [68]:
new_titles[:10]

['Toy Story',
 'Jumanji',
 'Grumpier Old Men',
 'Waiting to Exhale',
 'Father of the Bride Part II',
 'Heat',
 'Sabrina',
 'Tom and Huck',
 'Sudden Death',
 'GoldenEye']

In [73]:
descriptions.loc[0, 'overview']

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [75]:
len(new_titles)

27278

In [76]:
movie['title'] = new_titles

In [77]:
movie

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben,Comedy
27274,131256,"Feuer, Eis & Dosenbier",Comedy
27275,131258,The Pirates,Adventure
27276,131260,Rentun Ruusu,(no genres listed)
27277,131262,Innocence,Adventure|Fantasy|Horror

In [78]:
descriptions.isna().sum()

title         6
overview    954
dtype: int64

In [79]:
descriptions.dropna(inplace=True)
descriptions.reset_index(drop=True, inplace=True)

In [80]:
descriptions['title'] = descriptions['title'].apply(lambda x: x.lower())

In [81]:
descriptions

,title,overview
0,toy story,"Led by Woody, Andy's toys live happily in his ..."
1,jumanji,When siblings Judy and Peter discover an encha...
2,grumpier old men,A family wedding reignites the ancient feud be...
3,waiting to exhale,"Cheated on, mistreated and stepped on, the wom..."
4,father of the bride part ii,Just when George Banks has recovered from his ...
...,...,...
44501,subdue,Rising and falling between a man and woman.
44502,century of birthing,An artist struggles to finish his work while a...
44503,betrayal,"When one of her hits goes wrong, a professiona..."
44504,satan triumphant,"In a small town live two brothers, one a minis..."
44505,queerama,50 years after decriminalisation of homosexual...

In [82]:
movie['title'] = movie['title'].apply(lambda x: x.lower())

In [83]:
movie

,movieId,title,genres
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy
1,2,jumanji,Adventure|Children|Fantasy
2,3,grumpier old men,Comedy|Romance
3,4,waiting to exhale,Comedy|Drama|Romance
4,5,father of the bride part ii,Comedy
...,...,...,...
27273,131254,kein bund für's leben,Comedy
27274,131256,"feuer, eis & dosenbier",Comedy
27275,131258,the pirates,Adventure
27276,131260,rentun ruusu,(no genres listed)
27277,131262,innocence,Adventure|Fantasy|Horror

In [84]:
movie[movie['title'] == 'innocence']

       movieId      title                    genres
4635      4731  innocence                     Drama
10447    37955  innocence     Drama|Fantasy|Mystery
27277   131262  innocence  Adventure|Fantasy|Horror

In [85]:
descriptions[descriptions['title'] == 'innocence']

           title                                           overview
4582   innocence  After more than forty years apart, Andreas and...
10372  innocence  A look inside an offbeat boarding school for y...
28627  innocence  Yusuf is released from prison after serving a ...
28727  innocence  After losing her mother in a tragic accident, ...

In [86]:
unique_movies = set()
movie2 = []
for i in range(len(movie)):
    if movie.loc[i, 'title'] in unique_movies:
        continue
    else:
        unique_movies.add(movie.loc[i, 'title'])
        movie2.append(movie.loc[i])

In [87]:
movie2 = pd.DataFrame(movie2)
movie2.reset_index(drop=True, inplace=True)

In [89]:
unique_movies = set()
descriptions2 = []
for i in range(len(descriptions)):
    if descriptions.loc[i, 'title'] in unique_movies:
        continue
    else:
        unique_movies.add(descriptions.loc[i, 'title'])
        descriptions2.append(descriptions.loc[i])

In [90]:
descriptions2 = pd.DataFrame(descriptions2)
descriptions2.reset_index(drop=True, inplace=True)
descriptions2

,title,overview
0,toy story,"Led by Woody, Andy's toys live happily in his ..."
1,jumanji,When siblings Judy and Peter discover an encha...
2,grumpier old men,A family wedding reignites the ancient feud be...
3,waiting to exhale,"Cheated on, mistreated and stepped on, the wom..."
4,father of the bride part ii,Just when George Banks has recovered from his ...
...,...,...
41317,caged heat 3000,It's the year 3000 AD. The world's most danger...
41318,subdue,Rising and falling between a man and woman.
41319,century of birthing,An artist struggles to finish his work while a...
41320,satan triumphant,"In a small town live two brothers, one a minis..."
41321,queerama,50 years after decriminalisation of homosexual...

In [398]:
movies = movie2.copy()
descriptions = descriptions2.copy()

In [108]:
df = movie2.merge(descriptions2, how="left", on="title")
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df = df.merge(rating, how="left", on="movieId")
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,movieId,title,genres,overview,userId,rating,timestamp
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",3.0,4.0,1999-12-11 13:36:47
1,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",6.0,5.0,1997-03-13 17:50:52
2,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",8.0,4.0,1996-06-05 13:37:51
3,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",10.0,4.0,1999-11-25 02:44:47
4,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",11.0,4.5,2009-01-02 01:13:41

In [395]:
df2 = movie2.merge(descriptions2, how="left", on="title")

In [95]:
df2.dropna(inplace=True)
df2.reset_index(drop=True, inplace=True)
df2

,movieId,title,genres,overview
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ..."
1,2,jumanji,Adventure|Children|Fantasy,When siblings Judy and Peter discover an encha...
2,3,grumpier old men,Comedy|Romance,A family wedding reignites the ancient feud be...
3,4,waiting to exhale,Comedy|Drama|Romance,"Cheated on, mistreated and stepped on, the wom..."
4,5,father of the bride part ii,Comedy,Just when George Banks has recovered from his ...
...,...,...,...,...
15607,131248,brother bear 2,Adventure|Animation|Children|Comedy|Fantasy,Kenai finds his childhood human friend Nita an...
15608,131250,no more school,Comedy,The last three weeks of school life have begun...
15609,131252,forklift driver klaus: the first day on the job,Comedy|Horror,Short film depicting a fictional educational f...
15610,131254,kein bund für's leben,Comedy,The movie deals with a guy who gets to join th...
15611,131258,the pirates,Adventure,On the eve of the founding of the Joseon Dynas...

In [100]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from tqdm import tqdm
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df2['overview'])
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)
# descriptions = df2['overview'].tolist()

In [135]:
cosine_similarities.shape

(15612, 15612)

In [388]:
cosine_similarities

array([[1.        , 0.03283754, 0.01347803, ..., 0.00563939, 0.04231681,
        0.04212241],
       [0.03283754, 1.        , 0.05793635, ..., 0.00291789, 0.06293198,
        0.01883748],
       [0.01347803, 0.05793635, 1.        , ..., 0.00734435, 0.04310368,
        0.02198505],
       ...,
       [0.00563939, 0.00291789, 0.00734435, ..., 1.        , 0.01158713,
        0.00935276],
       [0.04231681, 0.06293198, 0.04310368, ..., 0.01158713, 1.        ,
        0.06421177],
       [0.04212241, 0.01883748, 0.02198505, ..., 0.00935276, 0.06421177,
        1.        ]])

In [209]:
movie['genres_splited'] = [genre.split('|') for genre in movie['genres']]

In [210]:
movie_genres_temp = movie[['movieId', 'genres_splited']]
movie_ids = []
movie_genres_lst = []
for i, mov_id, mov_gen in movie_genres_temp.itertuples():
    movie_ids+=[mov_id] * len(mov_gen)
    movie_genres_lst+=mov_gen

In [211]:
movie_genres = pd.DataFrame({'movieId': movie_ids, 'genre': movie_genres_lst})
movie_genres.head(5)

   movieId      genre
0        1  Adventure
1        1  Animation
2        1   Children
3        1     Comedy
4        1    Fantasy

In [212]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['timestamp'].max()

Timestamp('2015-03-31 06:40:02')

In [213]:
train_df = df[df['timestamp'] < df['timestamp'].quantile(0.9)]
test_df = df[df['timestamp'] >= df['timestamp'].quantile(0.9)]

In [214]:
train_df.head()

,movieId,title,genres,overview,userId,rating,timestamp
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",3.0,4.0,1999-12-11 13:36:47
1,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",6.0,5.0,1997-03-13 17:50:52
2,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",8.0,4.0,1996-06-05 13:37:51
3,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",10.0,4.0,1999-11-25 02:44:47
4,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",11.0,4.5,2009-01-02 01:13:41

In [215]:
train_df = train_df[['userId', 'movieId', 'rating', 'timestamp']]
test_df = test_df[['userId', 'movieId', 'rating', 'timestamp']]

In [216]:
valid_users_train = train_df[['userId', 'movieId']].groupby('userId').movieId.count()
valid_users_train = valid_users_train[valid_users_train<=valid_users_train.quantile(0.99)]
valid_users_train = valid_users_train[valid_users_train>=5]
valid_users_train

userId
1.0         100
2.0          38
3.0         134
4.0          21
5.0          39
           ...
138488.0     18
138490.0     88
138491.0     14
138492.0     54
138493.0    239
Name: movieId, Length: 123273, dtype: int64

In [217]:
print(test_df.shape)
test_df = test_df[test_df.userId.isin(train_df.userId.unique())]
test_df = test_df[test_df.movieId.isin(train_df.movieId.unique())]
test_df = test_df[test_df.userId.isin(valid_users_train.index)]
print(test_df.shape)

(1368470, 4)
(205741, 4)

In [218]:
train_df_genres = (train_df[['userId', 'movieId', 'timestamp']]\
                   .merge(movie_genres, on='movieId')\
                   .drop(columns=['movieId'])\
                   .sort_values(by='timestamp', ascending=False)\
                   .drop_duplicates(subset=['userId', 'genre'], keep='first'))

In [219]:
train_df_genres['timestamp_rank'] = train_df_genres.groupby('userId').cumcount() + 1
train_df_genres = train_df_genres[train_df_genres['timestamp_rank']<=3]
train_df_genres

            userId           timestamp        genre  timestamp_rank
32236173   39555.0 2012-02-19 03:12:15      Romance               1
32236172   39555.0 2012-02-19 03:12:15      Fantasy               2
32236171   39555.0 2012-02-19 03:12:15       Comedy               3
9598310   110794.0 2012-02-19 03:12:02       Comedy               1
9598311   110794.0 2012-02-19 03:12:02        Drama               2
...            ...                 ...          ...             ...
6029675   135241.0 1996-03-01 00:00:00        Drama               3
1528078    63203.0 1996-02-23 12:56:00     Thriller               1
1764762    63203.0 1996-02-23 12:56:00  Documentary               2
1528076    63203.0 1996-02-23 12:56:00       Comedy               3
1323964   113947.0 1996-02-02 12:37:08       Action               3

[373663 rows x 4 columns]

In [220]:
!pip install implicit

Requirement already satisfied: implicit in /opt/conda/lib/python3.7/site-packages (0.4.4)
Requirement already satisfied: tqdm>=4.27 in /opt/conda/lib/python3.7/site-packages (from implicit) (4.59.0)
Requirement already satisfied: scipy>=0.16 in /opt/conda/lib/python3.7/site-packages (from implicit) (1.5.4)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from implicit) (1.19.5)

## BPR plain Model

Bayesian Personalized Ranking (BPR) is a collaborative filtering model that tries to recommend items by contrasting good (seen) item vectors with bad (unseen) item vectors based on user vector, then it recalculates all vectors with stochastic gradient descent

In [221]:
import scipy.sparse as sparse
import implicit

train_df['user_id'] = train_df['userId'].astype('category').cat.codes
train_df['item_id'] = train_df['movieId'].astype('category').cat.codes

item_lookup = train_df[['item_id', 'movieId']].drop_duplicates()
item_lookup["item_id"] = item_lookup["item_id"].astype(np.int64)
user_lookup = train_df[['user_id', 'userId']].drop_duplicates()
user_lookup["user_id"] = user_lookup["user_id"].astype(np.int64)

weight = list(train_df.rating)
users = list(np.sort(train_df.user_id.unique()))
items = list(np.sort(train_df.item_id.unique()))

rows = train_df.user_id
cols = train_df.item_id 
data_sparse = sparse.csr_matrix((weight, (rows, cols)), shape=(len(users), len(items)))

In [231]:
train_df

            userId  movieId  rating           timestamp  user_id  item_id
0              3.0        1     4.0 1999-12-11 13:36:47        2        0
1              6.0        1     5.0 1997-03-13 17:50:52        5        0
2              8.0        1     4.0 1996-06-05 13:37:51        7        0
3             10.0        1     4.0 1999-11-25 02:44:47        9        0
4             11.0        1     4.5 2009-01-02 01:13:41       10        0
...            ...      ...     ...                 ...      ...      ...
13538672  131651.0    92910     4.5 2012-02-15 19:32:49   118400     9960
13538675   40618.0    92935     3.0 2012-02-17 15:15:43    36525     9961
13538711   23982.0    92938     3.0 2012-02-18 00:38:56    21577     9962
13538749   54465.0    92938     2.5 2012-02-18 03:09:39    48897     9962
13538823  111963.0    92938     3.0 2012-02-18 14:58:13   100669     9962

[12316223 rows x 6 columns]

In [ ]:
modelBPR = implicit.bpr.BayesianPersonalizedRanking(learning_rate=0.1, verify_negative_samples=True, iterations=100,
                                                    factors=50)
modelBPR.fit(data_sparse.T)

In [224]:
movies_for_users = modelBPR.recommend_all(data_sparse, N=50, filter_already_liked_items=True)

  0%|          | 0/124557 [00:00<?, ?it/s]

## About the test

We will use movies just after the cutoff in timestamp to use to test our model

In [225]:
movies_for_users

array([[ 790,  495, 4595, ..., 2088, 3458, 1269],
       [1374,  704,  753, ...,  720,  857, 1662],
       [1598, 1677,  577, ..., 1325, 2379, 1744],
       ...,
       [ 790,  704,  332, ..., 2398,  403,  376],
       [1076, 1022,  213, ..., 1032, 1302, 2145],
       [8607, 6310, 8131, ..., 7019, 7826,  451]], dtype=int32)

In [226]:
movies_for_users.shape

(124557, 50)

In [121]:
test=test_df.merge(user_lookup, on='userId').merge(item_lookup, on='movieId')[['user_id', 'item_id', 'timestamp']]
test=test.sort_values(by='timestamp')[['user_id', 'item_id']].groupby('user_id').agg(list)
test

                                                   item_id
user_id
197                   [6801, 6402, 9657, 8903, 9479, 2538]
198      [1831, 305, 1491, 3513, 2009, 297, 2361, 845, ...
224      [7626, 7741, 6203, 238, 6961, 5772, 5188, 665,...
246      [8270, 8874, 8131, 7991, 7867, 8374, 8736, 435...
254      [8135, 4255, 1568, 1682, 3774, 6119, 9657, 320...
...                                                    ...
124480   [4420, 6555, 2252, 2297, 1798, 1836, 7018, 689...
124505   [2113, 581, 244, 213, 108, 1278, 121, 220, 226...
124506   [1753, 941, 659, 1751, 581, 6723, 816, 0, 3146...
124507   [758, 1790, 5, 756, 8548, 761, 118, 6930, 1641...
124537                                        [4474, 3141]

[4395 rows x 1 columns]

In [341]:
all_sim = []
for i in tqdm(test.index):
    user_sim = []
    for k in movies_for_users[i]:
        item_sim = []
        movie_id = item_lookup.loc[item_lookup['item_id'] == k, 'movieId'].values[0]
        user_recom_item_id = df2[df2['movieId'] == movie_id].index[0]
        for j in test.loc[i, 'item_id'][-5:]:
            movie_id = item_lookup.loc[item_lookup['item_id'] == j, 'movieId'].values[0]
            user_history_item_id = df2[df2['movieId'] == movie_id].index[0]
            item_sim.append(cosine_similarities[user_history_item_id, user_recom_item_id])
        user_sim.append(sum(item_sim) / len(item_sim))
    all_sim.append(user_sim)

100%|██████████| 4395/4395 [29:12<00:00,  2.51it/s]

In [272]:
len(all_sim[0])

50

In [353]:
def sort_list(list1, list2):
 
    zipped_pairs = zip(list2, list1)
 
    z = [x for _, x in sorted(zipped_pairs, reverse=True)]
 
    return z

def metrics_at_n2(user_row, recommended_items, ground_truth_items, n):
    # Take only the top-N recommended items
    recommended_items = sort_list(recommended_items, all_sim[test.index.to_list().index(user_row)])
    
    recommended_at_n = recommended_items[:n]
    
    # Calculate the number of relevant items in the top-N recommended items
    num_relevant_at_n = len(set(recommended_at_n) & set(ground_truth_items))
    
    # Calculate precision at N
    precision_at_n = num_relevant_at_n / n if n > 0 else 0
    
    # Calculate recall at N
    recall_at_n = num_relevant_at_n / len(ground_truth_items) if len(ground_truth_items) > 0 else 0
    
    # Calculate F1-score at N
    f1_at_n = 2 * (precision_at_n * recall_at_n) / (precision_at_n + recall_at_n) if precision_at_n + recall_at_n > 0 else 0
    
    return f1_at_n, recall_at_n, precision_at_n


ns=[50, 20, 10, 5]
f1s = []
recalls = []
precisions = []
model_names = ['BPR+tfidfRank'] * 4

for n in ns:
    f1_at_n_all = []
    recall_at_n_all = []
    precision_at_n_all = []
    for user_row in test.index:
        f1_at_n, recall_at_n, precision_at_n  = metrics_at_n2(user_row, movies_for_users[user_row], test.loc[user_row].values[0], n)
        f1_at_n_all.append(f1_at_n)
        recall_at_n_all.append(recall_at_n)
        precision_at_n_all.append(precision_at_n)
    print(f"F1-score at {n}: {np.mean(f1_at_n_all)}")
    print(f"Recall at {n}: {np.mean(recall_at_n_all)}")
    print(f"Precision at {n}: {np.mean(precision_at_n_all)}")
    f1s.append(np.mean(f1_at_n_all))
    recalls.append(np.mean(recall_at_n_all))
    precisions.append(np.mean(precision_at_n_all))

F1-score at 50: 0.047491781457298946
Recall at 50: 0.07879897202044514
Precision at 50: 0.056222980659840736
F1-score at 20: 0.03849913514353617
Recall at 20: 0.05135243366121079
Precision at 20: 0.0662457337883959
F1-score at 10: 0.036957565381374374
Recall at 10: 0.04220022988080433
Precision at 10: 0.08070534698521047
F1-score at 5: 0.039854365191106925
Recall at 5: 0.03775217294103164
Precision at 5: 0.1098976109215017

In [354]:
def metrics_at_n(recommended_items, ground_truth_items, n):
    # Take only the top-N recommended items
    recommended_at_n = recommended_items[:n]
    
    # Calculate the number of relevant items in the top-N recommended items
    num_relevant_at_n = len(set(recommended_at_n) & set(ground_truth_items))
    
    # Calculate precision at N
    precision_at_n = num_relevant_at_n / n if n > 0 else 0
    
    # Calculate recall at N
    recall_at_n = num_relevant_at_n / len(ground_truth_items) if len(ground_truth_items) > 0 else 0
    
    # Calculate F1-score at N
    f1_at_n = 2 * (precision_at_n * recall_at_n) / (precision_at_n + recall_at_n) if precision_at_n + recall_at_n > 0 else 0
    
    return f1_at_n, recall_at_n, precision_at_n


for n in ns:
    f1_at_n_all = []
    recall_at_n_all = []
    precision_at_n_all = []
    for user_row in test.index:
        f1_at_n, recall_at_n, precision_at_n  = metrics_at_n(movies_for_users[user_row], test.loc[user_row].values[0], n)
        f1_at_n_all.append(f1_at_n)
        recall_at_n_all.append(recall_at_n)
        precision_at_n_all.append(precision_at_n)
    print(f"F1-score at {n}: {np.mean(f1_at_n_all)}")
    print(f"Recall at {n}: {np.mean(recall_at_n_all)}")
    print(f"Precision at {n}: {np.mean(precision_at_n_all)}")
    f1s.append(np.mean(f1_at_n_all))
    recalls.append(np.mean(recall_at_n_all))
    precisions.append(np.mean(precision_at_n_all))
    model_names.append('BPR')

F1-score at 50: 0.047491781457298946
Recall at 50: 0.07879897202044514
Precision at 50: 0.056222980659840736
F1-score at 20: 0.036036360346809106
Recall at 20: 0.0396083531749687
Precision at 20: 0.06870307167235495
F1-score at 10: 0.026623795054094825
Recall at 10: 0.023589982113286
Precision at 10: 0.07872582480091013
F1-score at 5: 0.018165368353055284
Recall at 5: 0.014045715622975217
Precision at 5: 0.08732650739476679

## Similar item

We will use item vector to get most similar movies for last seen movie

In [355]:
# item to item 
items_lst = []
sim_items_lst = []
for item in items:
    it = modelBPR.similar_items(item, N=6)
    sims = [i[0] for i in it[1:]]
    items_lst.append(item)
    sim_items_lst.append(sims)

In [356]:
item_similar = dict(zip(items_lst, sim_items_lst))

In [357]:
train = train_df[['user_id', 'item_id', 'timestamp']]
train.sort_values(by='timestamp', ascending=False)
train = train[train.user_id.isin(test.index)]
# train['item_rank'] = train.groupby('user_id').cumcount() + 1
# train = train[train['item_rank']<=5]
train = train[['user_id', 'item_id']]
train = train.groupby('user_id').agg(list)
train

                                                   item_id
user_id
197      [235, 741, 774, 790, 1579, 1859, 2125, 2976, 4...
198      [0, 1, 14, 19, 20, 86, 108, 139, 158, 163, 181...
224      [121, 366, 1022, 1789, 2736, 3432, 5862, 6370,...
246      [0, 1, 2, 11, 17, 28, 41, 53, 82, 108, 110, 11...
254      [27, 244, 374, 401, 403, 408, 409, 411, 444, 5...
...                                                    ...
124480   [0, 1, 9, 17, 18, 38, 57, 86, 87, 110, 117, 12...
124505   [124, 495, 574, 587, 608, 705, 720, 756, 758, ...
124506   [24, 35, 102, 213, 225, 231, 346, 347, 361, 36...
124507   [0, 41, 79, 83, 86, 109, 121, 127, 134, 163, 2...
124537   [0, 28, 86, 110, 123, 163, 213, 244, 258, 332,...

[4395 rows x 1 columns]

In [358]:
from tqdm import tqdm
from collections import OrderedDict

def get_unique_items_preserve_order(input_list):
    return list(OrderedDict.fromkeys(input_list))

recommended_items_hyb = []
for user in tqdm(test.index):
    recommended = []
    for item in train.loc[user][0][:1]:
        recommended+=item_similar.get(item, [])[:1]
        
    recommended+=movies_for_users[user].tolist()
    recommended = get_unique_items_preserve_order(recommended)[:50]
    recommended_items_hyb.append(recommended)

100%|██████████| 4395/4395 [00:00<00:00, 5577.94it/s]

In [359]:
np.array(recommended_items_hyb).shape

(4395, 50)

In [360]:
for n in ns:
    f1_at_n_all = []
    recall_at_n_all = []
    precision_at_n_all = []
    for i,user_row in enumerate(test.index):
        f1_at_n, recall_at_n, precision_at_n  = metrics_at_n(recommended_items_hyb[i], test.loc[user_row].values[0], n)
        f1_at_n_all.append(f1_at_n)
        recall_at_n_all.append(recall_at_n)
        precision_at_n_all.append(precision_at_n)
    print(f"F1-score at {n}: {np.mean(f1_at_n_all)}")
    print(f"Recall at {n}: {np.mean(recall_at_n_all)}")
    print(f"Precision at {n}: {np.mean(precision_at_n_all)}")
    f1s.append(np.mean(f1_at_n_all))
    recalls.append(np.mean(recall_at_n_all))
    precisions.append(np.mean(precision_at_n_all))
    model_names.append('Sim+BPR')

F1-score at 50: 0.047443737273689765
Recall at 50: 0.07854106286920108
Precision at 50: 0.056204778156996586
F1-score at 20: 0.03561481853983116
Recall at 20: 0.03919298810656114
Precision at 20: 0.06792946530147896
F1-score at 10: 0.02589288761988416
Recall at 10: 0.022851522226229798
Precision at 10: 0.07645051194539249
F1-score at 5: 0.016907862606113443
Recall at 5: 0.01313949856361415
Precision at 5: 0.08209328782707623

## Genre filtering

To help with resolving BPR model hallucinations we will use filtering recommended items by relevant genres

In [361]:
train_df_genres = train_df_genres.merge(user_lookup, on='userId')

train_df_genres['genre_id'] = train_df_genres['genre'].astype('category').cat.codes
genre_lookup = train_df_genres[['genre', 'genre_id']].drop_duplicates()
genre_lookup["genre_id"] = genre_lookup["genre_id"].astype(np.int64)

train_df_genres['weight'] = 1

weight = list(train_df_genres.weight)
genres = list(np.sort(train_df_genres.genre_id.unique()))

rows = train_df_genres.user_id
cols = train_df_genres.genre_id 
data_sparse = sparse.csr_matrix((weight, (rows, cols)), shape=(len(users), len(genres)))

In [362]:
model_genre = implicit.bpr.BayesianPersonalizedRanking(learning_rate=0.1, verify_negative_samples=True, iterations=100,
                                                    factors=50)
model_genre.fit(data_sparse.T)

  0%|          | 0/100 [00:00<?, ?it/s]

In [363]:
genres_for_users = model_genre.recommend_all(data_sparse, N=5)

  0%|          | 0/124557 [00:00<?, ?it/s]

In [364]:
mov_gen_lookup = movie_genres.merge(item_lookup, on='movieId').merge(genre_lookup, on='genre')
mov_gen_lookup.drop(columns=['movieId', 'genre'], inplace=True)
mov_gen_lookup = mov_gen_lookup.groupby('genre_id').agg(list)

In [365]:
test_genres = train_df_genres[train_df_genres.user_id.isin(test.index)][['user_id', 'genre_id']].groupby('user_id').agg(list)

In [366]:
def get_top_n_vectors_by_similarity(items, vectors, query_vector, n):
    similarities = np.dot(vectors, query_vector)  # Calculate inner product similarities
    top_n_indices = np.argsort(similarities)[::-1][:n]  # Get indices of top N similar vectors
    return items[top_n_indices].tolist()

In [367]:
def flatten_list(list_of_lists):
    return [item for sublist in list_of_lists for item in sublist]

In [368]:
recommended_genres_hyb = []
for user in tqdm(test.index):
    recommended_g = []
    recommended_g+=test_genres.loc[user].values[0]
    recommended_g+=genres_for_users[user].tolist()
    recommended_g = get_unique_items_preserve_order(recommended_g)[:]
    
    query_items = mov_gen_lookup.loc[recommended_g].item_id.values.tolist()
    query_items = flatten_list(query_items)
    query_items = np.unique(query_items)
    query_items = np.setdiff1d(query_items, train.loc[user].values[0])
    
    recommended = get_top_n_vectors_by_similarity(query_items, modelBPR.item_factors[query_items], modelBPR.user_factors[user], 50)
    
    recommended_genres_hyb.append(recommended)

100%|██████████| 4395/4395 [00:53<00:00, 82.43it/s]

In [369]:
for n in ns:
    f1_at_n_all = []
    recall_at_n_all = []
    precision_at_n_all = []
    for i,user_row in enumerate(test.index):
        f1_at_n, recall_at_n, precision_at_n  = metrics_at_n(recommended_genres_hyb[i], test.loc[user_row].values[0], n)
        f1_at_n_all.append(f1_at_n)
        recall_at_n_all.append(recall_at_n)
        precision_at_n_all.append(precision_at_n)
    print(f"F1-score at {n}: {np.mean(f1_at_n_all)}")
    print(f"Recall at {n}: {np.mean(recall_at_n_all)}")
    print(f"Precision at {n}: {np.mean(precision_at_n_all)}")
    f1s.append(np.mean(f1_at_n_all))
    recalls.append(np.mean(recall_at_n_all))
    precisions.append(np.mean(precision_at_n_all))
    model_names.append('genreFilt+BPR')

F1-score at 50: 0.048164821579580214
Recall at 50: 0.07843100268506742
Precision at 50: 0.05711945392491467
F1-score at 20: 0.03695849831809374
Recall at 20: 0.04094785241698401
Precision at 20: 0.07015927189988624
F1-score at 10: 0.027341622325381478
Recall at 10: 0.024240423513858533
Precision at 10: 0.08065984072810012
F1-score at 5: 0.0191366599785526
Recall at 5: 0.014358093129531872
Precision at 5: 0.09169510807736064

# Hybrid Model

Here we will use both genre filtering and similar items to enhance movie recommendations

In [370]:
recommended_genres_sim_hyb =  []
for i,user in tqdm(enumerate(test.index)):
    recommended = []
    for item in train.loc[user][0][:1]:
        recommended+=item_similar.get(item, [])[:1]
        
    recommended+=recommended_genres_hyb[i]
    recommended = get_unique_items_preserve_order(recommended)[:50]
    recommended_genres_sim_hyb.append(recommended)

4395it [00:00, 5882.86it/s]

In [371]:
for n in ns:
    f1_at_n_all = []
    recall_at_n_all = []
    precision_at_n_all = []
    for i,user_row in enumerate(test.index):
        f1_at_n, recall_at_n, precision_at_n  = metrics_at_n(recommended_genres_sim_hyb[i], test.loc[user_row].values[0], n)
        f1_at_n_all.append(f1_at_n)
        recall_at_n_all.append(recall_at_n)
        precision_at_n_all.append(precision_at_n)
    print(f"F1-score at {n}: {np.mean(f1_at_n_all)}")
    print(f"Recall at {n}: {np.mean(recall_at_n_all)}")
    print(f"Precision at {n}: {np.mean(precision_at_n_all)}")
    f1s.append(np.mean(f1_at_n_all))
    recalls.append(np.mean(recall_at_n_all))
    precisions.append(np.mean(precision_at_n_all))
    model_names.append('genreFilt+sim+BPR')

F1-score at 50: 0.04805865881749685
Recall at 50: 0.07841272220063115
Precision at 50: 0.056951080773606375
F1-score at 20: 0.03647028583273419
Recall at 20: 0.04031721489483639
Precision at 20: 0.06931740614334471
F1-score at 10: 0.02648386768597072
Recall at 10: 0.023268697056396455
Precision at 10: 0.07838452787258247
F1-score at 5: 0.017453139902908112
Recall at 5: 0.01326636823042369
Precision at 5: 0.08359499431171785

In [372]:
results = pd.DataFrame({'model': model_names, 'N': ns*int((len(model_names)/4)), 'f1@N': f1s, 'recall@N': recalls, 'precision@N': precisions})

In [394]:
results.sort_values(by=['N', 'f1@N'], ascending = [False, False]).drop_duplicates(subset=['model', 'N'], keep='first')

                model   N      f1@N  recall@N  precision@N
12      genreFilt+BPR  50  0.048165  0.078431     0.057119
16  genreFilt+sim+BPR  50  0.048059  0.078413     0.056951
0       BPR+tfidfRank  50  0.047492  0.078799     0.056223
4                 BPR  50  0.047492  0.078799     0.056223
8             Sim+BPR  50  0.047444  0.078541     0.056205
1       BPR+tfidfRank  20  0.038499  0.051352     0.066246
13      genreFilt+BPR  20  0.036958  0.040948     0.070159
17  genreFilt+sim+BPR  20  0.036470  0.040317     0.069317
5                 BPR  20  0.036036  0.039608     0.068703
9             Sim+BPR  20  0.035615  0.039193     0.067929
2       BPR+tfidfRank  10  0.036958  0.042200     0.080705
14      genreFilt+BPR  10  0.027342  0.024240     0.080660
6                 BPR  10  0.026624  0.023590     0.078726
18  genreFilt+sim+BPR  10  0.026484  0.023269     0.078385
10            Sim+BPR  10  0.025893  0.022852     0.076451
3       BPR+tfidfRank   5  0.039854  0.037752     0.109898
15      genreFilt+BPR   5  0.019137  0.014358     0.091695
7                 BPR   5  0.018165  0.014046     0.087327
19  genreFilt+sim+BPR   5  0.017453  0.013266     0.083595
11            Sim+BPR   5  0.016908  0.013139     0.082093

In [382]:
results.sort_values(by=['N', 'f1@N'], ascending = [False, False]).drop_duplicates(subset=['model', 'N'], keep='first').to_csv('res.csv', index=False)